body{
    margin: 20px;
    font-family: 'Courier New', Courier, monospace,sans-serif;
}

.dear
{
    width:200px;
}
.tongyong
{
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.shuli
{
    background: #c6def5;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
}
.qingmian
{
    
    background: #bdc4ca;
    color: #555166;
    border-bottom: 6px solid #90b5c6;
}
.dongxia
{
    background: #cfafcd;
    color: #3f3043;
    border-bottom: 6px solid #654667;
}
.xide
{
    background: #5d97cc;
    color: #59556b;
    border-bottom: 6px solid #374267;
}

.border-blue
{
 border: 1px dotted blue;
}